name: Nightly Package Tests
on:
  schedule:
    - cron: '10 12 * * *' # run at 12:10 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install iden'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[all]"'

  stable-cloudpickle:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[cloudpickle]"'

  stable-joblib:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[joblib]"'

  stable-numpy:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[numpy]"'

  stable-pyyaml:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[pyyaml]"'

  stable-safetensors:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[safetensors]"'

  stable-torch:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "iden[torch]"'

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre iden'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[all]"'

  latest-cloudpickle:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[cloudpickle]"'

  latest-joblib:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[joblib]"'

  latest-numpy:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[numpy]"'

  latest-pyyaml:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[pyyaml]"'

  latest-safetensors:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[safetensors]"'

  latest-torch:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "iden[torch]"'


  ########################
  #     Dependencies     #
  ########################

  coola:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: coola
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).coola) }}

  objectory:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: objectory
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).objectory) }}


  #################################
  #     Optional dependencies     #
  #################################

  cloudpickle:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: cloudpickle
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).cloudpickle) }}

  joblib:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: joblib
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).joblib) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  pyyaml:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: pyyaml
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).pyyaml) }}

  safetensors:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: safetensors
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).safetensors) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}
